<form [formGroup]="employeeForm" (ngSubmit)="onSubmit()">
  <label>
    First name:
    <input type="text" formControlName="first_name">
  </label>
  <label>
    Last name:
    <input type="text" formControlName="last_name">
  </label>
  <label>
    Age:
    <input type="number" formControlName="age">
  </label>
  <label>
    Job:
    <input type="text" formControlName="job">
  </label>
  <label>
    Department ID:
    <select formControlName="department_id">
      <option value="Choose a department" disabled>Choose a department</option>
      <option *ngFor="let dpt of departments" value="{{dpt.id}}">{{dpt.id}}</option>
    </select>
  </label>
  <button type="submit" [disabled]="!employeeForm.valid">Save</button>
</form>
<!-- <div *ngIf="age.errors.min">Employee must be 18 years old or above</div> -->