<div [hidden]="modifying">
  <h2>This is the list of departments</h2>
  <a [routerLink]="['/addDepartment']">Add new department</a>
  <table>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Employees</th>
    </tr>
    <tr *ngFor="let dep of department" >
      <td>{{ dep.id }}</td>
      <td><a [routerLink]="['/department-detail', dep.id]">{{ dep.name }}</a></td>
      <td>{{ dep.employees }}</td>
      <td>
        <button (click)="modifying=true">Update</button>
        <button (click)="removeDepartment(dep.id)">Delete</button>
      </td>
    </tr>
  </table>
</div>
