<div [hidden]="modifying">
  <h2>This is the list of employees</h2>
  <a [routerLink]="['/addEmployee']">Add new employee</a>
  <table>
    <tr>
      <th>ID</th>
      <th>First Name</th>
      <th>Last Name</th>
    </tr>
    <tr *ngFor="let elem of employee" (click)='displayed=elem.id'>
      <td>{{ elem.id }}</td>
      <td>{{ elem.first_name }}</td>
      <td>{{ elem.last_name }}</td>
       <td>
        <a [routerLink]="['/employee?id=elem.id']">Update</a>
        <button (click)="removeEmployee(displayed)">Delete</button>
      </td>      
    </tr>

  </table>
</div>

