<div [hidden]="modifying">
  <h2>This is the list of employees</h2>
  <a [routerLink]="['/addEmployee']">Add new employee</a>
  <table>
    <tr>
      <th>ID</th>
      <th>First Name</th>
      <th>Last Name</th>
    </tr>
    <tr *ngFor="let elem of employee" >
      <td>{{ elem.id }}</td>
      <td><a [routerLink]="['/employee-detail', elem.id]">{{ elem.first_name }}</a></td>
      <td>{{ elem.last_name }}</td>
       <td>
        <a [routerLink]="['/updateEmployee', elem.id]">Update</a>
        <button (click)="removeEmployee(elem.id)">Delete</button>
      </td>      
    </tr>

  </table>
</div>

